<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="myApp">
        <h3>Game</h3>
        <div v-if="seen">2020Game</div>
        <ol>
            <li v-for="game in games">
                {{ game.title }} / {{ game.price }} yuan
            </li>
        </ol>
    </div>
    <script>
        var myApp = new Vue({
            el: '#myApp',
            data: {
                seen: true,
                games: [
                    {title: 'Game1', price: 200},
                    {title: 'Game2', price: 300},
                    {title: 'Game3', price: 400},
                ]
            }
        })
    </script>
</body>
</html>